.img{
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65%;
    width: 100%;
    box-shadow: 1px 5px 15px 8px rgba(0, 0, 0, 0.438);
    position: absolute;
    top: 10;
    left: 0;
    object-fit: cover;
}

.banner{
    width: 1200px;
    height: 65vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 15px 8px rgba(0, 0, 0, 0.897)
}




.banner .content{
    position: relative;
    z-index: 1;
    max-width: 500px;
   
}


.banner .content h1{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 5em;
    text-transform: uppercase;
    color: #f86868;

}


.banner .content p{
    text-align: center; 
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.9);
    font-size: 1.7em;
    color: #ffffff;
    margin-top: 10px;
}