.principal {
    width: 100%;
    height: 25vh; 
    background-color: #ebfdff; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacoLinks {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
}

.link {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.botao {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao p {
    margin-top: 8px; 
    font-size: 14px; 
    color: #000000; 
    text-align: center; 
}
